$fui-color-white: var(--fui-color-white);
$fui-color-black: var(--fui-color-black);
$fui-color-mint: var(--fui-color-mint);

/**
   Ant Design Vue组件
 */
.ant-menu-sub {
  min-width: 96px !important; // 菜单下拉
}

/**
  自定义 UI样式
 */
// 搜索样式
.fui-toolbar {
  margin: 0 0 10px 2px;

  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    svg {
    }
  }
}

// 表单样式
.fui-form {
  margin: 0 0 12px 2px;

  .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;

    svg {
    }
  }
}

// 内容样式
.fui-content {
  .ant-btn {
    font-size: 12px;
  }
}

.btn-edit-rol {
  color: #5bc0de;

  &:hover {
    color: #69cded !important;
    background-color: #f3f2f2 !important;
  }
}

.btn-reset {
  color: var(--fui-color-white);
  background-color: var(--fui-color-warning);

  &:hover {
    color: var(--fui-color-white) !important;
    background-color: var(--fui-color-warning-hover);
  }
}
